@import './styles.scss';
footer{
    width: 100%;
    height: 125px;
    text-align: center;
    font-size: .75rem;
    border-top: 1px solid white;
    padding: 1rem;
    .social-networks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        a{
            color: gray;
            transition: color .3s;
        }
        a:hover{
            color: rgb(255, 255, 255);
        }

        
    }
    .gray{
        color: gray;
    }
}

